.App {
  width: 99%;
  min-height: 90vh;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; */

}

.MainDiv {
  border: 1px solid rgb(0, 0, 0);
  margin: auto;
  width: auto;
  font-size: 13px;
  font-weight: 600;
  /* height: auto;
  padding: 11px;
  box-shadow: 3px 1px 9px 2px rgb(122, 121, 121); */
  /* margin: 5%; */
  width: 100%;
  /* width: 21%; */
  /* height: 30vh; */

}

.tablerow {
  border: 1px solid rgb(20, 19, 19);
  text-align: center;

}

.tablerow th {
  border: 1px solid rgb(0, 0, 0);
  width: 15%;
}

.tablerow td {
  border: 1px solid rgb(0, 0, 0);
  width: 15%;
}

.UniquwH3 {
  margin: auto;
  width: auto;
}